* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
 height:100vh;
}

.mainTodo{
  background-color:#ffffff;
  padding:10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.submitTodo form{
  display:flex;
}
.submitTodo input{
  width:400px;
  padding: 0 5px;
  border:none;
  outline:none;
  background-color:#f5f6fa;
}
.submitTodo button{
  padding: 5px 5px;
  border:none;
  background-color:#29ADB2;
  color:#fff;
  display:flex;
  align-items:center;
  gap:2px;
  font-weight:700;
}

.todoStyle{
  justify-content:space-between;
  margin-top:5px;
}

.todoStyleLeft{
  display:flex;
  gap:5px;
}


.singleTodo li{
  list-style: none;
  text-align:left;
  font-family:sans-serif;
  font-weight:700;
}


.btn_danger{
  color:#EF4040;
}

.edit-btn{
  color:#079992;
}

.updateInput{
  width:385px;
  padding:5px 5px;
  outline: none;
}

.sub-logo{
  font-size:20px;
}
