* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
 height:100vh;
 background-color:#82ccdd;
}

.mainTodo{
  width:512px;
  background-color:#ffffff;
  padding:10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


.submitTodo form{
  display:flex;
}
.submitTodo input{
  width:400px;
  padding: 0 5px;
  border:none;
  outline:none;
  background-color:#f5f6fa;
}
.submitTodo button{
  padding: 5px 5px;
  border:none;
  background-color:#29ADB2;
  color:#fff;
  display:flex;
  align-items:center;
  gap:2px;
  font-weight:700;
  cursor: pointer;
}
.submitTodo button:hover{
  background-color:#079992;
  transition:0.3s;
}

.todoStyle{
  justify-content:space-between;
  margin-top:5px;
}

.todoStyleLeft{
  display:flex;
  gap:5px;
}


.singleTodo li{
  list-style: none;
  text-align:left;
  font-family:sans-serif;
  font-weight:700;
}


.btn_danger{
  color:#EF4040;
}

.edit-btn{
  color:#079992;
}

.updateInput{
  width:385px;
  padding:5px 5px;
  outline: none;
}

.sub-logo{
  font-size:20px;
  cursor: pointer;
}

.heading-task{
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.heading-task h2{
  font-weight:700;
  font-family: sans-serif;
}


/* repnsibve */
@media screen and (max-width: 992px) {
  .submitTodo input{
    width:90%;
  }

  .mainTodo{
    width:85%;
  }

  .submitTodo button{
    padding: 5px 3px;
    font-size:10px;
  }
 
  .updateInput{
    width:590px;
    outline: none;
  }
  
  .heading-task h2{
    font-size:20px;
  }

  .sub-logo{
    font-size:20px;
  }
}


@media screen and (max-width:768px) {
  .submitTodo input{
    width:80%;
  }

  .mainTodo{
    width:92%;
  }

  .submitTodo button{
    padding: 5px 3px;
    font-size:10px;
  }
 
  .updateInput{
    width:270px;
    padding:1px 2px;
    outline: none;
  }
  
  .heading-task h2{
    font-size:20px;
  }

  .sub-logo{
    font-size:15px;
  }
}